@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  ::-webkit-scrollbar {
    display: none;
  }
  height: 100%;
  box-sizing: border-box;
  color: var(--color-primary);
  background: var(--color-bg-primary);
}

h1,
h2,
h3,
h4,
a,
p,
span,
label {
  font-family: var(--font-nanum);
}
p,
h1,
h2,
h3,
h4,
a {
  color: var(--color-text-secondary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.strong {
  @apply bg-neutral-150 rounded-md p-1 dark:text-neutral-500 bg-neutral-350;
}

.tail {
  transition: stroke-dashoffset 0.5s linear 1s;
  stroke-dasharray: 31.95920181274414 31.95920181274414;
  stroke-dashoffset: 15.81138801574707;
  stroke: #000;
}
.point {
  stroke: #000;
  transition: stroke-dashoffset 0.5s linear 1.65s;
  stroke-dasharray: 15.81138801574707 15.81138801574707;
  stroke-dashoffset: 15.81138801574707;
}

.popup-overlay {
  background-color: #00000087;
}

.contact-me-shadow {
  box-shadow: 0px 2px 140px #d9d9d9, -20px -19px 20px 0px #ffffff;
}
